body {
  margin: 0;
  background: black;
  overflow: hidden;
  color: white;
  text-align: center;
}

canvas {
  display: block;
  margin: auto;
  background: #111;
}

#info {
  position: fixed;
  top: 10px;
  left: 10px;
}

#gameOver {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  display: none;
  background: red;
  padding: 20px;
}